---
import SectionLayout from "../layouts/SectionLayout.astro";
import Marcas from "./shared/Marcas.astro";
const { base } = Astro.site ? import.meta.env : { base: "" };

const marcas = [
  { nombre: "Tregar", logo: `${base}/img/logos/tregar.png` },
  { nombre: "Elegante", logo: `${base}/img/logos/elegante.png` },
  { nombre: "Pozo", logo: `${base}/img/logos/pozo.png` },
  { nombre: "La Santiagueña", logo: `${base}/img/logos/la-santiagueña.png` },
  { nombre: "Nikitos", logo: `${base}/img/logos/nikitos.png` },
  { nombre: "Benjamin", logo: `${base}/img/logos/benjamin.png` },
];
---

<SectionLayout id="companies" style="bg-[#171717]">
  <span slot="title" class="text-white">Empresas con las que trabajamos</span>
  <span slot="description" class="text-gray-300">
    Representamos las marcas más reconocidas del mercado
  </span>

  <Marcas marcas={marcas} />
</SectionLayout>
