---
import SectionLayout from "../layouts/SectionLayout.astro";
import Slider from "./shared/Slider.astro";
const base = import.meta.env.BASE_URL;

const slides = [
  {
    image: `${base}img/productos/nikitos/prod_1.jpg`,
    title: "Nikitos",
  },
  {
    image: `${base}img/productos/pozo/prod_2.jpg`,
    title: "Pozo",
  },
  {
    image: `${base}img/productos/elegante/prod_3.jpg`,
    title: "Elegante",
  },
  {
    image: `${base}img/productos/la-santiagueña/prod_3.jpg`,
    title: "La Santiagueña",
  },
  {
    image: `${base}img/productos/tregar/prod_4.jpg`,
    title: "Tregar",
  },
];
---

<SectionLayout id="products">
  <span slot="title">Nuestros Productos</span>
  <span slot="description" class="text-gray-600">
    Descubre nuestra amplia gama de productos para tu negocio
  </span>

  <Slider slides={slides} />
</SectionLayout>
